input[type="text"]:not(.lc){
          text-transform: capitalize;
        }
        body{ overflow-x: hidden; }
        /** BEGIN CSS **/

        @keyframes rotate-loading {
            0%  { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
        :root {
          --wd_ht: 100px;
          --logo_mr: 4%;
          --logo_wd: 92%;  
        }
        .loading-container {
            background-color: #797777b0 !important;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            position: fixed;
            top:0;
            left:0;
            width:100%;
            z-index: 1111;

        }

        .logo {
            position: absolute; 
            width: var(--wd_ht);
            height: var(--wd_ht);
        }

        .loading {
            width: var(--wd_ht);
            height: var(--wd_ht);
            border-radius: 50%;
            border: 2px solid transparent;
            border-color: transparent #fff transparent #fff; /* Change the color if needed */
            animation: rotate-loading 1.5s linear infinite;
            transform-origin: 50% 50%;
        }

        .logo img{    width: var(--logo_wd); margin: var(--logo_mr); }
        
input#name {
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    position: relative;
    padding: 5px 40px;
}
.input-icon i.fas.fa-user {
    position: absolute;
    color: #F07E29;
    font-size: 16px;
    top: 10px;
    left: 15px;
}
input#password {
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    position: relative;
    padding: 5px 40px;
}
.input-icon i.fas.fa-lock {
    position: absolute;
    color: #F07E29 !important;
    font-size: 16px;
    top: 10px;
    left: 15px;
}
button.login-btn {
    background-color: #F07E29 !important;
    border: 1px solid #F07E29;
    border-radius: 8px;
    width: 100%;
}
button.login-btn:hover {
    background-color: #F07E29 !important;
}
.form-control:focus {
    background-color: transparent;
}
.card-header.login-header.text-center {
    border-bottom: none;
}
.login-box, .register-box {
    width: 400px;
    z-index: 1;
}
.card-primary.card-outline {
    border-top: none;
    padding: 30px 0px 30px 0px;
    box-shadow: 0px 1px 14px -3px #3f70a140;
}
section.login-page {
    position: relative;
    background-color: #fff !important;
}
section.login-page:before {
    content: '';
    background: url(images/login-shape.png);
    width: 320px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    position: absolute;
    top: -23px;
}
section.login-page:after {
    content: '';
    background: url(images/login-down.png);
    width: 320px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    right: 0;
    position: absolute;
    bottom: 0;
}
.login-logo {
    width: 100%;
}
.login-logo img {
    float: left;
    width: 100px;
    position: relative;
    top: -133px;
    left: 25px;
}





@media only screen and (min-width : 320px) and (max-width : 767px) {

  .card-primary.card-outline {
      margin: 0px 15px 0px 15px !important;
  }
  .login-box, .register-box {
      width: 100%;
  }
  section.login-page:before {
      width: 300px;
      left: -42px;
      top: 0px;
  }
.login-logo img {
    width: 100px;
    max-width: 100%;
    float: left;
    top: 26px;
    position: absolute;
    left: 16px;
}
  .login-header  h4 {
      font-size: 18px;
  }
  section.login-page:after {
      width: 300px;
      height: 110px;
  }

}




@media only screen and (min-width : 768px) and (max-width : 1024px) {

.login-logo img {
    width: 100px;
    max-width: 100%;
    float: left;
    top: 45px;
    position: absolute;
    left: 16px;
}
  section.login-page:before {
      height: 238px;
}
}



