body {
 font-family: 'Karla', sans-serif !important;
}


/*back navigation*/
nav.inner-header {
    padding: 10px;
}
.inner-head {
    display: flex;
    color: #fff;
}
.inner-head i.fas.fa-arrow-left {
    margin-right: 10px;
    font-size: 25px;
    margin-top: 5px;
}
.inner-head h5 {
    font-size: 25px;
    font-weight: 600;
}
/*end*/

.chat-bg {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 10px;
    gap: 5px;
}
.user-chat {
    background-color: #457CB2;
    border-radius: 8px;
    color: #fff !important;
    padding: 5px 100px 5px 10px;
}
.chat-bg i.fas.fa-user {
    background-color: grey;
    color: #fff;
    padding: 10px 10px 5px 10px;
    border-radius: 50px;
    font-size: 20px;
}
.sender-chat {
    background-color: grey;
    border-radius: 8px;
    color: #fff !important;
    padding: 5px 100px 5px 10px;
}
.chat-bg-sender {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
    gap: 5px;
}
.chat-bg-sender i.fas.fa-user {
    background-color: grey;
    color: #fff;
    padding: 10px 10px 5px 10px;
    border-radius: 50px;
    font-size: 20px;
}
.chat-bg-sender p {
    color: #fff;
    margin-bottom: 0px;
    font-size: 20px;
}
.user-chat p {
    color: #fff;
    margin-bottom: 0px;
    font-size: 20px;
}
.bottom-chat {
    position: fixed;
    bottom: 97px;
    width: 100%;
}
button.chat-btn {
    background-color: #457CB2;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
      width: 20%;
}
.bottom-chat input[type="text"] {
    border-radius: 8px;
    background-color: #eeeeee;
    border: 1px solid #eeeeee;
    padding: 10px;
    width: 80%;
}
button.check-green {
    background-color: #3cb043 !important;
   border: 1px solid #3cb043 !important
}
.flight-mobile {
    display: none;
}
.logged-user i.fas.fa-user {
    margin-right: 5px;
}
.indian-energy p {
    color: #000;
}

.transport-icon i.fas.fa-phone-alt {
    rotate: 90deg;
    color: #F07E29;
    border: 1px dotted;
    padding: 6px;
    border-radius: 50px;
    font-size: 11px;
    background-color: #fff;
   margin-top: -20px;
}
.transport-icon {
    margin-top: -16px;
}
.vehicle-shape img {
    width: 100%;
}
button.welcome-button {
    width: 75%;
    background-color: #F07E29;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
}
button.welcome-button:focus {
    background-color: #F07E29 !important;
    color: #fff !important
    }
    .ongc-user h5 {
    font-size: 30px;
    font-weight: 600;
}
/* event details*/
section.day-wise {
    padding: 50px 15px 80px 15px;
}

.event-button a {
    background-color: #457CB2;
    color: #fff;
    padding: 10px;
    font-size: 11px;
    border-radius: 8px;
    width: 100%;
    display: block;
}
.event-button {
    box-shadow: 4px 4px 20px 0 rgba(100,105,126,0.35);
}
.event-button h5 {
    font-size: 20px !important;
    color: #457CB2;
}
/*nav bottom*/
nav.nav_bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 10px rgb(0 0 0 / 24%);
    background-color: #ffffff;
    display: flex;
    overflow-x: auto;
    z-index: 999;
    justify-content: space-evenly;
}
.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 18px;
    color: #858585;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}
a.nav__link:hover {
    color: #F07E29;
    text-decoration: none;
}
ion-icon.md.hydrated {
    font-size: 25px;
}
#flight-icon i {
    rotate: -13deg;
}
i.material-icons.nav__icon {
    font-size: 22px;
}

/* end*/

.ccsticky-nav {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
}
.mobile {
    display: none;
}
.navbar-brand img {
    width: 27%;
    padding-right: 10px;
}
img#logo-two {
    width: 25%;
}
img#ongc-red {
    width: 20%;
}
a.navbar-brand {
    width: 33%;
}
  .navbar-nav a.nav-link {
    color: #fff !important;
    padding: 30px !important;
}
  section.ongc-head {
    background-color: #457CB2;
  }

.weather {
    display: flex;
    justify-content: end;
}
.weather-image {
    display: flex;
    align-items: center;
}

.weather-image img {
    width: 45%;
}
.menus i {
    padding-right: 10px;
    font-size: 15px;
}
.menus ul a {
    padding: 30px;
    color: #fff;
    text-decoration: none;
}
p.head-desktop {
    font-size: 14px;
  
}
  .wind-image img {
    width: 50%;
  }
  p {
    color: #7A7A7A;
}

span.weather-degree {
    font-size: 12px;
}
.dropdown-toggle::after {
    color: #fff;
    position: absolute;
    right: -13px;
    top: 8px;
}
.dropdown  i {
    color: #fff !important;
    font-size: 25px;
    float: right;
    margin-left: 25px;
}
.dropdown-menu a {
    color: #7A7A7A;
    padding: 30px;
}




  /* The dropdown div */
.downMenu {
    float: left;
    overflow: hidden;
    font-weight: 600;
    z-index: 1;
  
}
  /* For downButton to work as menu */
  .downMenu .downBtn {
    
    background-color: inherit;
  }

  /* For hover effect on button */
  /* .navigationBar a:hover, .downMenu:hover .downBtn { 
    background-color: rgb(65, 61, 61); 
}  */

  /* To hide mega menu */
.downMenu-content {
    position: absolute;
    display: none;
    width: 50%;
    right: 25%;
    background-color: #fff;
    z-index: 2;
    border-radius: 10px;
    box-shadow: 0px 2px 21px -6px #366c75d4;
}

  button {
    outline: 0px !important;
    border: 0px !important;
  }

  /* To show mega menu on hover */
  .downMenu:hover .downMenu-content {
    display: block;
  }

  /* Create columns in mega menu*/
  .menuCol {
    float: left;
    width: 25%;
    padding: 10px;

  }

  /* Style the columns */
  .menuCol a {
    float: none;
    color: black;
    padding: 10px;
    margin-bottom: 10px;
    display: block;
  }

  .menuCol a {
    padding: 15px !important;
    font-size: 12px;
    color: #000 !important;
  }
  .menuCol a:hover {
    color: #7A7A7A !important;
}

  /* Add hover */
  /* .menuCol a:hover { 
    background-color: rgb(223, 223, 223); 
}  */

  .slider-main img {
    width: 100%;
    height: 600px;
  }

  .event-content {
    position: relative;
  }

.event-content {
    background-color: #457CB2;
    width: 60%;
    border-radius: 10px;
    margin: 0 auto;
    bottom: 25px;
    padding: 5px 20px;
}

.icon-event i {
    color: #fff !important;
    font-size: 25px;
}

  .event-content h4 {
    color: #fff;
    font-size: 16px;
  }
.card-tabs {
    border: 1px solid #F07E29 !important;
    border-radius: 8px;
}
.card-header {
    background: transparent;
    border: 0px;
    margin-top: -12px;
}
  /* tabs-css */
.nav-tabs>.nav-item>.nav-link.active {
    background-color: #F07E29 !important;
    border-radius: 8px;
    box-shadow: 0px 6px 20px -5px #f07e296e !important;
    color: #FFFFFF;
    padding: 10px 80px;
    font-size: 16px;
}

  .card {
    border: 0;
    border-radius: 0.1875rem;
    display: inline-block;
    position: relative;
    width: 100%;

    margin-bottom: 30px;
    border: 1px solid #F07E29;
    border-radius: 10px;
  }

  .card .card-header {
    background-color: transparent;
    border-bottom: 0 !important;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
  }

  .nav-tabs {
    border: 0;
    padding: 15px 0.7rem;
    margin-top: -35px;
  }

.nav-tabs>.nav-item>.nav-link {
    color: #3F70A1;
    margin: 0;
    margin-right: 5px;
    background-color: #fff !important;
    box-shadow: 0px 6px 20px -5px #457cb25e;
    border: 1px solid transparent;
    border-radius: 8px;
    font-size: 14px;
    line-height: 1.5;
    background-color: #EFF7FF;
    padding: 10px 80px;
    font-size: 16px;
}

 

  .tab-pane p {

    font-size: 15px;
  }

  .border-right {
    border-right: 1px solid #D9D9D9 !important;
  }

.user-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fpr-content {
    margin-bottom: 100px;
    box-shadow: 0px 6px 20px -5px #457cb25e;
    padding: 0;
    border-radius: 0px 10px 10px 10px;
}

.user-details i.fas.fa-user {
    font-size: 20px;
    background-color: #fff;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0px 3px 7px -2px #bebebe;
    margin-right: 20px;
}
.fpr-icon i.fas.fa-phone-alt {
    font-size: 20px;
    rotate: 90deg;
    color: #457CB2;
    align-items: center;
    display: flex;
    display: flex;
}
  .btnCkInOut {
    border: 1px solid #FFF !important;
    background-color: #F07E29;
    padding: 5px 15px;
    border-radius: 10px;
    color: #fff;
    box-shadow: 2px 2px 2px #bbb8b8;
    transition-duration: 0.4s;
  }
 .btnCkInOut:hover {
    border: 1px solid #F07E29 !important;
    box-shadow: 2px 2px 2px #F07E29;
    background-color: #fff;
    color: #F07E29;
    transition-duration: 0.4s;
  }

.user-details p {
    color: #3F70A1;
    line-height: 2rem;
}

  .user-details i {
    color: #F07E29;
    font-size: 30px;
}
div#last-col {
    display: none;
}
  .icon-local i {
    background-color: #366C75;
    border-radius: 50px;
    color: #fff;
    width: 100px;
    height: 100px;
    font-size: 35px;
    position: relative;
    box-shadow: 0px 4px 15px 0px #366c756e;
}

.icon-Quiz i {
    background-color: #457CB2;
    border-radius: 50px;
    color: #fff;
    width: 100px;
    height: 100px;
    font-size: 35px;
    position: relative;
    box-shadow: 0px 4px 15px 0px #457cb28c;
}
.icon-Quiz .fa-edit:before, .fa-pen-to-square:before {
    content: "\f044";
    position: absolute;
    top: 30%;
    left: 37%;
}
.icon-local i:before {
    content: "\f3c5";
    position: absolute;
    top: 30%;
    left: 37%;
}

  .icon-weather i {
    background-color: #F07E29;
    border-radius: 50px;
    color: #fff;
    width: 100px;
    height: 100px;
    font-size: 35px;
    position: relative;
    box-shadow: 0px 4px 15px 0px #f07e298c;
  }
.icon-weather i:before {
    content: "\f73d";
    position: absolute;
    top: 30%;
    left: 34%;
}
 /* .fa-cloud-rain:before {
    content: "\f73d";
    position: absolute;
    top: 30%;
    left: 34%;
  } */

.fa-solar-panel:before {
    content: "\f5ba";
    position: absolute;
    top: 30%;
    left: 30%;
}
  .icon-about i {
    background-color: #6EAA44;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    position: relative;
    color: #fff;
    font-size: 35px;
    box-shadow: 0px 4px 15px 0px #6eaa4482;
  }

 .fa-burn:before,
  .fa-fire-flame-simple:before {
    content: "\f46a";
    position: absolute;
    top: 32%;
    left: 39%;
  } 

  .icon-news i {
    background-color: #A4DAF7;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    position: relative;
    font-size: 35px;
    color: #fff;
     box-shadow: 0px 4px 15px 0px #a4daf7a1;
  }

  .fa-video-camera:before,
  .fa-video:before {
    content: "\f03d";
    position: absolute;
    top: 32%;
    left: 35%;
  }
.fa-bolt:before, .fa-zap:before {
    content: "\f0e7";
    position: absolute;
    top: 30%;
    left: 37%;
}
.icon-finder i.fas.fa-map {
    background-color: #D1C900;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    position: relative;
    font-size: 35px;
    color: #fff;
    box-shadow: 0px 4px 15px 0px #d1c90075;
}
.fa-map:before {
    content: "\f279";
    position: absolute;
    top: 32%;
    left: 32%;
}
.icon-day i.fas.fa-calendar-week {
    background-color: #A4D667;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    position: relative;
    font-size: 35px;
    color: #fff;
    box-shadow: 0px 4px 15px 0px #a4d66780;
}
.icon-day .fa-calendar-week:before {
    content: "\f784";
    position: absolute;
    top: 32%;
    left: 35%;
}
.icon-chat i.far.fa-comments {
    background-color: #FF7759;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    position: relative;
    font-size: 35px;
    color: #fff;
    box-shadow: 0px 4px 15px 0px #ff77596e;
}
.icon-chat .fa-comments:before {
    content: "\f086";
    position: absolute;
    top: 32%;
    left: 32%;
}
  .local-head h3 {
    color: #3F70A1;
}


.wall-head h3 {
    color: #3F70A1;
}


.wall-content {
    padding: 50px;
    border: 1px solid #D9D9D9;
    width: 100%;
    border-radius: 10px;
    overflow: scroll;
    height: 400px;
}
section.wall {
    padding-bottom: 40px;
}
.carousel-wrap {
  margin: 90px auto;
  /* padding: 0 5%; */
  width: 80%;
  position: relative;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
  position: relative;
  z-index: 100; 
  -webkit-backface-visibility: hidden; 
}

/* end fix */
.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.owl-nav i {
  font-size: 52px;
}

.owl-nav .owl-prev {
  left: -30px;
}

.owl-nav .owl-next {
  right: -30px;
}
.owl-carousel .owl-item img {
    border-radius: 10px 10px 0px 0px;
    border: 1px solid #d9d9d9;
}
.owl-nav .owl-prev, .owl-nav .owl-next {
    position: absolute;
    padding: 0;
    margin: 0 !important;
    font-size: 22px !important;
    line-height: 0 !important;
    overflow: hidden;
    width: 56px;
    height: 56px;
    background: #ffffff !important;
    border-radius: 28px;
    border: 1px solid #b4bace !important;
    opacity: .5;
}
.owl-nav .owl-next {
    right: -33px;
    bottom: 45%;
}
.owl-nav .owl-prev {
    left: -33px;
    bottom: 45%;
}
.owl-nav .owl-next .fa, .owl-nav .owl-prev .fa{
  font-size: 22px !important;
}
/*
button.owl-prev:before {
    background: url(images/arrow.jpg) no-repeat;
    content: "";
    position: absolute;
    width: 22px;
    height: 16px;
    left: 50%;
    top: 50%;
    margin-left: -11px;
    margin-top: -8px;
}
button.owl-next:before{
  background: url(images/arrow.jpg) no-repeat;
    content: "";
    position: absolute;
    width: 22px;
    height: 16px;
    left: 50%;
    top: 50%;
    margin-left: -11px;
    margin-top: -8px;
  transform: rotate(180deg);
}
*/
.ministers-head {
    padding: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 0px 0px 10px 10px;
    color: #457CB2;
}
.ministers-head h5 {
    font-size: 16px;
}
.owl-dots {
    display: none;
}
.carousel-wrap h3 {
    color: #3F70A1;
}

.carousel-caption {
    position: inherit !important;
    
}
.carousel {
    overflow: hidden;
}
  
  .carousel-cell {
    width: 80%;
    height: 200px;
    margin-right: 10px;
    border-radius: 5px;
    counter-increment: gallery-cell;
  }
  .carousel-cell  img {
    width: 100%;
    border-radius: 15px;
}
.flickity-viewport {
    height: 400px !important;
}

.details h3 {
    color: #3F70A1;
}
/*.airport-details img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    box-shadow: 0px 4px 15px -4px #0000009e;
    border: 5px solid #fff;
}
section.details {
    padding-bottom: 100px;
}
h5.airport-text {
    color: #457CB2;
    padding-top: 10px;
}
.airport-details {
    position: relative;
    text-align: center;
}
.airport-details:before {
    background-image: url(/pages/images/plane.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    content: '';
    left: 3%;
    opacity: 0.3;
}*/



/*menus*/
.menu-icon i {
    font-size: 35px;
}
.menu-icon i.far.fa-calendar-minus {
    background-color: #f07e29;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    color: #fff;
    position: relative;
    box-shadow: 0px 4px 15px 0px #f07e298c;
}
.menu-icon .fa-calendar-minus:before {
    content: "\f272";
    position: absolute;
    top: 30px;
    left: 35px;
}
.menu-icon i.fas.fa-user-edit {
    background-color: #457CB2;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    color: #fff;
    position: relative;
    box-shadow: 0px 4px 15px 0px #457cb27a;
}
.menu-icon .fa-user-edit:before, .fa-user-pen:before {
    content: "\f4ff";
    position: absolute;
    top: 30px;
    left: 35px;
}
.menu-icon i.far.fa-comment-dots {
    background-color: #D1C900;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    position: relative;
    color: #fff;
    box-shadow: 0px 4px 15px 0px #d1c90057;
}
.menu-icon .fa-comment-dots:before, .fa-commenting:before {
    content: "\f4ad";
    position: absolute;
    top: 30px;
    left: 35px;
}
section.menu {
    padding: 70px 0px;
}
.menu-select {
    justify-content: center;
    display: flex;
}
.menu-content h4 {
    color: #7A7A7A;
    font-size: 25px;
}
.menu-content p {
    font-size: 15px;
}
.stage a {
    border: 1px solid #F07E29;
    color: #F07E29;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 14px;
}
.stage a:hover {
    background-color: #F07E29;
    color: #fff;
    text-decoration: none;
}



/*quix-css*/
section.quiz {
    background: linear-gradient(to bottom right, #457CB2, #EFF7FF);
    width: 100%;
        height: 63vh;
    float: left;
    padding: 50px 0px 100px 0px;

}
.options {
    background-color: #fff;
    border: 1px solid #f07e296e;
    border-radius: 10px;
    padding: 10px 50px;
    margin: 10px;
    color: #7A7A7A !important;
    width: 48%;
    float: left;
    cursor: pointer;
    font-size: 15px;
}

p.options {
    width: 47%;
    float: left;
}
.quiz-one {
    background-color: #fff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding-top: 20px;
}
.up-image {
    position: relative;
}
/*.up-image:before {
    content: '';
    background: url(/pages/images/up_circle.png) no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 268px;
    height: 280px;
    top: -16%;
    left: -95%;
    z-index: 0;
}*/

.down-image {
    position: relative;
}
/*.down-image:after {
    content: '';
    background: url(/pages/images/down_circle.png) no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 180px;
    height: 108px;
    bottom: -16%;
    right: -31%;
    z-index: 0;
}*/
section.banner-inner {
    background: url(/pages/images/quiz.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 0px;
    position: relative;
}
.bg-img {
    background-color: #457cb273;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.banner-inner h2 {
    font-size: 16px;
    z-index: 1;
    position: relative;
    line-height: 1.5rem;
    color: #fff;
}


/*quiz options*/
 .correct {
            background-color:#008000 !important; 
            color: #fff !important;
        }

        .incorrect {
            background-color: #FF0000 !important;
             color: #fff !important;
        }



/* help desk css*/
section.help-desk {
    padding: 50px 0px;
}
.content-box {
    box-shadow: 0px 2px 21px -6px #366c754f;
    padding: 30px 40px;
}
.heading-bg {
    width: 100%;
    background-color: #457CB2;
    color: #fff;
}
section.desk-banner {
    background: url(/pages/images/special-banner-01.png)no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0px;
    position: relative;
}
.desk-inner {
    background-color: #457cb269;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.desk-banner h2 {
    font-size: 16px;
    z-index: 1;
    position: relative;
    line-height: 1.5rem;
    color: #fff;
}
button.helpDesk-btn {
    padding: 10px 60px;
}




h4.feedbackTitle {
    color: #457CB2;
    font-size: 25px;
}

.text-content {
    padding: 30px;
    box-shadow: 0px 2px 21px -6px #c6c6c6;
    margin-bottom: 10px;
    border-radius: 8px;
}
.text-content p {
    color: #457CB2;
}
.feedback-frm textarea {
    box-shadow: 0px 2px 21px -6px #366c753b;
    margin-bottom: 10px;
    border-radius: 8px;
    border-color: #ebebeb;
    padding: 10px;
}
.feedback-content {
    margin-top: 30px;
}



/*feedback*/
.w3l-faq ul li i:before, .w3l-faq ul li i:after {
    background-color: #F07E29 !important;
}
.faq-page li {
    background-color: #7a7a7a1c !important;
    padding: 15px 20px !important;
}
.faq-page h3 {
    font-size: 16px;
    margin-bottom: 0px;
}
section#faq {
    padding: 50px 0px 100px 0px;
}
.feedback-frm textarea {
    box-shadow: 0px 2px 21px -6px #366c753b;
    margin-bottom: 10px;
    border-radius: 8px;
    border-color: #ebebeb;
    padding: 10px;
}

/*flight*/
section.flights {
    background: url(/pages/images/airplane-flying-clouds.jpg)no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 70PX;
    height: 90vh;
}
.flight-bg {
    background-color: #457cb2b0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.arrival-departure .nav-tabs>.nav-item>.nav-link.active {
    background-color: #fff !important;
    border-radius: 30px;
    color: #457CB2;
    padding: 10px 60px;
    box-shadow: none !important;
}
.arrival-departure .nav-tabs>.nav-item>.nav-link {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 10px 60px;
    background: transparent !important;
}
.arrival input {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 10px;
    padding: 25px 50px;
}
.departure input {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 10px;
    padding: 25px 50px;
}
.flight-arrival i {
    position: absolute;
    left: 15px;
    top: 16%;
    padding: 9px 8px;
    color: #fff;
    transition: 0.3s;
}
.flight-arrival ::placeholder {
    color: #fff;
}
.arrival input:focus {
    color: #fff !important;
}
.departure input:focus {
    color: #fff !important;
}
.form-group {
    margin-bottom: 25px;
    position: relative;
}
#button button {
    background-color: #F07E29;
    color: #fff;
    padding: 10px 60px;
    display: flex;
    margin: 0 auto;
    border-radius: 10px;
}
#button button:hover {
    border: 1px solid #F07E29 !important;
    background: transparent;
    color: #F07E29;
}
.nav-tabs {
    justify-content: center;
}
.arrival-departure p {
    z-index: 1;
    color: #fff;
    margin: 0 auto;
}
.nav-tabs {
    margin-top: -35px !important;
}
.desktop-tabs {
    justify-content: space-evenly !important;
}
.check-tab h4 {
    color: #F07E29;
    font-size: 55px;
    font-weight: 600;
}
.check-tab span {
    font-size: 20px;
}
.user-inOut {
    background: url(/pages/images/restaurant.jpg);
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    height: 230px;
    border-radius: 10px;
    position: relative;
    align-items: center;
}
.user-inner {
    position: absolute;
      background-color: #ffffffc7;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.user-vehicle {
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px -5px #0000004a;
    overflow: hidden;
}
.nav-tabs>.nav-item>.nav-link i {
    font-size: 17px;
}

.tab-content {
    padding: 0px 50px;
}
.vehicle-shape:before {
    content: '';
    background: url(/pages/images/vehicle-shape.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    left: -73px;
    position: absolute;
    bottom: -29px;
}
.vehicle-shape {
    position: relative;
}
img#driver-img {
    width: 30%;
}
img#driver-img {
    width: 30%;
    border: 1px dotted #F07E29;
    border-radius: 50%;
    padding: 10px;
}
.vehicle-shape h3 {
    font-size: 25px;
}
.tab-pane ul li {
    list-style-type: none;
    text-align: left;
    margin-bottom: 10px;
    font-size: 17px;
}
.tab-pane ul li i {
    margin-right: 10px;
}
.vehicle-icons {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}
.vehicle-bg {
    background: url(/pages/images/flight-bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 40px 0px;
}

.center-plane i.fas.fa-plane {
    position: absolute;
    top: 15%;
    left: 42%;
    color: #fff;
}
.flight-arrival i.fas.fa-fighter-jet {
    left: 12px;
    top: 9px;
}
.form-control:focus {
    background-color: transparent;
}
/*change password*/
img#pswd-img {
    background: #457CB2;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
section.password-banner {
    background: url(/pages/images/chnage-pswd-banner.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 100px 0px;
}
.pswd-bg {
    position: absolute;
    background-color: #457cb273;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.password-banner h2 {
    font-size: 16px;
    z-index: 1;
    position: relative;
    line-height: 1.5rem;
    color: #fff;
    text-align: center;
}
section.change-password {
    padding: 50px 0px 100px 0px;
}
#hotelName input {
    padding: 5px 40px;
    height: 50px;
    border-radius: 10px;
}
#hotelName i.fas.fa-lock {
    position: relative;
}
#hotelName i.fas.fa-lock {
    position: absolute;
    top: 61%;
    left: 2%;
    color: #858585;
}
.eye-icon i {
    position: relative;
}
.eye-icon i {
    position: absolute;
    bottom: 17px;
    left: 95%;
    color: #858585;
}
div#hotelName {
    background-color: #EFF7FF;
    padding: 25px 50px;
    border-radius: 20px;
    box-shadow: 0px 2px 21px -6px #366c7545;
}
label.label-pswd {
    color: #858585;
}


/*participation*/
select.reason_type {
    background-color: #EFF7FF;
    border: 1px solid #EFF7FF;
    border-radius: 10px;
    color: #858585;
}
.participation p {
    color: #457CB2;
}
.participation h4 {
    color: #457CB2;
    font-weight: 600;
}
textarea.cancel_reason {
    background-color: #EFF7FF;
    border: 1px solid #EFF7FF;
    border-radius: 10px;
    color: #858585;
}
.btn-participation {
    background-color: #F07E29;
    border: 1px solid #F07E29;
    COLOR: #FFF;
    border-radius: 10px;
    padding: 10px 50px;
}
.btn-participation:hover {
    background: transparent;
    border: 1px solid #F07E29 !important;
    color: #F07E29;
}
.custom-select {
    position: relative;
    width: 100%;
    z-index: 2;
    display: inline-block;
    background-color: #EFF7FF;
    border: 1px solid #EFF7FF;
    color: #858585;
}

#custom-select select {
            display: none;
}

       /* .custom-select .select-styled {
            display: inline-block;
            padding: 10px;
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #fff;
            cursor: pointer;
        }*/
 .custom-select .select-styled:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 10px;
            margin-top: -3px;
            border-width: 6px 6px 0;
            border-style: solid;
            border-color: #555 transparent transparent;
}

       

.custom-select ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #f07e2975;
    border-radius: 5px;
    position: absolute;
    border-radius: 10px;
    left: 0;
    width: 100%;
    z-index: 2;
    display: none;
}

.custom-select.open ul {
    display: block;
    background: #fff;
    margin-top: 28px;
}

.custom-select li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #f07e2975;
}

.custom-select li:last-child {
            border-bottom: none;
}
section.participate-inner {
    background: url(/pages/images/participate.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 130px 0px;
}
.participate-bg {
    background-color: #457cb273;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.participate-inner p {
    font-size: 15px;
    z-index: 1;
    position: relative;
    line-height: 1.5rem;
    text-align: center;
    color: #000 !important;
}
.custom-select {
    background-image: none !important;

}
section.hotel-event {
    padding: 40px 0px;
}
.hotel-bg {
    background: url(/pages/images/event-backgroud.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    height: 300px;
    align-items: end;
    display: flex;
    position: relative;
}
.details-icon i {
    position: absolute;
    color: #fff;
    top: 32px;
    right: 30px;
    background-color: #457CB2;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 20px;
}
.event-bg {
    background-color: #457cb2cc;
    padding: 15px;
    border-radius: 0px 0px 10px 10px;
}
p.event-text {
    font-size: 20px;
    margin-bottom: 0;
}
#sidebar {
    width: 200px;
    height: 50%;
    display: block;
    position: fixed;
    right: -200px;
    top: 0px;
    transition: right 0.3s linear;
}

#sidebar.visible {
    right: 43px;
    transition: right 0.3s linear;
    z-index: 99999;
}

#sidebar ul {
    margin: 0px;
    padding: 65px 0px;
}

#sidebar ul li {
  list-style: none;
}

#sidebar ul li a {
    background: #fff;
    color: #7a7a7a;
    border-bottom: 1px solid #d5d4d482;
    display: block;
    width: 200px;
    padding: 10px 0px;
    text-decoration: none;
    position: relative;
    min-width: 60px;
    height: 75px;
    line-height: 60px;
    text-align: center;
    z-index: 1;
    text-align: left;
    padding-left: 60px;
}

#sidebar-btn {
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    cursor: pointer;
    margin: 20px;
    position: fixed;
    top: 17px;
    right: 9%;
}

#sidebar-btn span {
  height: 2px;
  background: #fff;
  margin-bottom: 5px;
  display: block;
}

#sidebar ul li a .icon i {
    color: #7a7a7a;
    position: absolute;
    top: 32px;
    left: 26px;
    font-size: 18px;
}

span.title {
    font-size: 15px;
    font-weight: 600;
}

#close-btn {
    position: fixed;
    top: 56px;
    right: 60px;
    display: none;
    cursor: pointer;
    z-index: 99999;
}
#close-btn span {
    font-size: 30px;
    color: #000;
}

#close-btn:hover {
    color: #F07E29;
}
#sidebar-btn i.fas.fa-ellipsis-v {
    color: #fff;
    font-size: 20px;
}




/*local area*/
section.local-bg {
    background-image: url(/pages/images/local-area.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 100px 0px;
}
.local-inner-bg {
    position: absolute;
    background: #457cb282;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.local-bg h2 {
    color: #fff;
    font-size: 16px;
    z-index: 1;
    position: relative;
    line-height: 1.5rem;
    text-align: center;
}
button.edit-btn {
    background-color: #F07E29;
    padding: 10px 30px;
    border-radius: 10px;
    color: #fff;
    transition-duration: 0.4s;
    border: 1px solid #F07E29;
}
.about-goa {
    padding: 50px 0px 80px 0px;
}
.about-goa p {
    color: #000;
}



/* local weather */
.card {
    background-color: transparent;
    border: 0px !important;
    box-shadow: none !important;
}
.div_weather {
    background: url(/pages/images/sunny.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px 0px 100px 0px;
    height: 85vh;
    width: 100vw;
    position: relative;
}
.weather-inner {
    background-color: #457cb266;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.weatherIcon img {
    margin: 0 auto;
    display: flex;
}
.widget .weatherInfo .temperature {
    flex: 0 0 40%;
    width: 100%;
    font-size: 40px;
    display: flex;
    justify-content: space-around;
    font-weight: 600;
}
.widget .weatherInfo .description {
    flex: 0 0 40%;
    width: 100%;
    font-size: 35px;
    display: flex;
    justify-content: space-around;
    color: #000;
}
.card-title {
    margin-bottom: .75rem;
    text-align: center !important;
    font-size: 30px !important;
    font-weight: 700;
}
.temperature span {
    font-size: 80px;
}
.weatherIcon {
    margin-top: -50px;
}

/*local news*/
.local-news img {
    width: 80%;
}
section.news {
    padding: 50px 0px 100px 0px;
}


/*app buttons*/
section.app-buttons {
    padding-bottom: 100px;
    margin-bottom: 40px;
}

.btnApp img {
    width: 40%;
}
img#contact-img {
    width: 30px;
}
.contactUs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: 0 auto;
    background-color: #457CB2;
    padding: 15px;
    border-radius: 8px;
}

.contactUs-app a {
    
}
.btnApp {
    display: flex;
}

/*footer*/
footer {
    padding: 20px 0px;
    background-color: #457CB2;
}
.footer-logo img {
    width: 20%;
}
.footer-list {
    float: right;
    padding-top: 5px;
}
.footer-list ul li {
    list-style-type: none;
    padding-bottom: 5px;
}
.footer-list i {
    color: #fff;
    padding-right: 10px;
}

/* Remove calendar icon in Chrome/Edge */
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    display: none;
}
input[type="datetime-local"]::-moz-calendar-box {
    display: none;
}    
 
@media only screen and (min-width : 320px) and (max-width : 767px) {
h4.feedbackTitle {
    font-size: 18px;
}
.feedback-content {
    margin-top: 30px;
}
.user-chat p {
    font-size: 14px;
}
.user-chat span {
    font-size: 12px;
}
.chat-bg-sender p {
    font-size: 14px;
}
.chat-bg-sender span {
    font-size: 12px;
}
.inner-head h5 {
    font-size: 18px;
    margin-bottom: 0px;
}
.bottom-chat input[type="text"] {
    width: 70%;
}
.bottom-chat {
    margin: 0 15px 0px 15px;
}
nav.inner-header {
    padding: 15px;
}
.inner-head i.fas.fa-arrow-left {
    font-size: 20px;
    margin-top: 0px;
}
.flight-mobile {
    display: flex;
}
.flight-mobile ul {
    padding-left: 0px;
}
.tab-pane ul li {
    text-align: left;
    margin-bottom: 10px;
    font-size: 10px;
}
.tab-pane ul li i {
    margin-right: 5px;
}
.flight-mobile {
    background: url(/pages/images/flight-bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 40px 0px 15px 0px;
    position: relative;
}
section.hotel-event {
    padding: 0px 15px;
    margin-top: -25px;
}
.event-bg {
    padding: 10px;
}
.details-icon i {
    top: 15px;
    right: 15px;
}
.hotel-bg {
    height: 180px;
}
.fpr-content {
    margin: 0px 15px 80px 15px !important;
    border-radius: 10px !important;
}
.logged-user h5 {
    font-size: 10px !important;
    margin-right: 1px !important;
}
.logged-user i.fas.fa-user {
    font-size: 13px !important;
}
h5.mb-3.text-left.left-sde:after {
    content: "";
    position: absolute;
    background: url(/pages/images/border-left.png);
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    top: -14px;
    right: 26px;
}
h5.mb-3.text-left.right-sde:before {
    content: "";
    position: absolute;
    background: url(/pages/images/border-right.png);
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    top: -14px;
    left: 0px;
}

.indian-energy {
    padding: 50px 0px 80px 0px;
}
.user-inOut {
    height: 160px;
}
.check-tab h4 {
    font-size: 45px;
}
/*.nav-tabs>.nav-item>.nav-link {
    height: 60px !important;
}*/
div#checkInOut {
    padding-bottom: 10px;
}

.event-button {
    box-shadow: 0px 4px 19px -5px rgba(100,105,126,0.35);
    margin-bottom: 35px;
}
.event-button h5 {
    text-align: left !important;
}
.card .event-button {
    margin-bottom: 0px;
}
nav.main-header {
    background-color: #457CB2;
}
  .desktop {
    display: block;
}
.user-img img {
    width: 120px;
}
.modal-dialog {
    width: 80% !important;
}
#mdlWelCome .modal-body {
    padding: 15px;
}
.welcome-button i.fa.fa-long-arrow-right {
    margin-left: 10px;
}
.ongc-user h5 {
    font-size: 20px;
    font-weight: 700;
}
#mdlWelCome  .modal-title {
    font-size: 18px;
    font-weight: 600;
}
.downMenu .downBtn {
    padding: 0;
}
img#ongc-red {
    width: 45%;
}
.navbar-brand img {
    width: 60px;
}
img#logo-two {
    width: 50px;
}
.header-logo img {
    width: 16%;
}
.header-text {
    font-size: 6px;
    width: 100%;
    float: left;
    margin-bottom: 0;
}
.wind-image img {
    width: 89%;
}
.navbar-toggler {
    padding: 0;
}
.weather-image img {
    width: 60%;
    float: left;
}
span.weather-text {
    color: #fff;
    font-size: 13px !important;
} 
.weather {
    display: flex;
    margin-left: 14px;
    width: 33%;
}
.logout-header button {
    padding: 5px 15px;
    font-size: 10px;
    border-radius: 5px;
}
.logout-header i {
    top: 0px;
    left: 17%;
    font-size: 10px;
}
.wind-image {
    padding-left: 0px !important;
}
p.event-text {
    font-size: 15px;
    margin-bottom: 0;
    font-weight: 700;
    line-height: 21px;
}
.check-tab span {
    font-size: 15px;
    color: #000;
}
.icon-event i {
    font-size: 18px;
    padding-top: 8px;
}
.navbar-toggler-icon {
    width: 25px;
    height: 25px;
}
.user-details {
    margin-bottom: 0px;
    padding: 15px !important;
}
.card {
    margin-top: 0px;
}
.card-header.nav-header {
    padding: .75rem 0.25rem;
}
.tab-content {
    padding: 0px 14px;
}
.nav-tabs {
    border: 0;
    padding: 14px 0px;
    margin-top: -35px;
}
  .owl-carousel .owl-item img {
    height: 155px !important;
}
.owl-nav .owl-prev, .owl-nav .owl-next {
    width: 40px;
    height: 40px;
}
.owl-nav .owl-next {
    right: -23px;
}
.owl-nav .owl-prev {
    left: -25px;
}
.carousel-wrap h3 {
    font-size: 16px;
}
.carousel-wrap h3:before {
 display: none;
}
.local-head h3 {
    font-size: 16px;
}
.local-head h3:before {
  display: none;
}
.wall-head h3:before {
 display: none;
}
.wall-head h3 {
    font-size: 16px;
}
.user-details p {
    font-size: 13px;
    margin-bottom: 0px !important;
    line-height: 22px;
    color: #7A7A7A;
    font-weight: 600;
}

.user-details i {
    font-size: 24px;
}
div#last-col {
    display: block !important;
}
.icon-news i {
    width: 55px;
    height: 55px;
    font-size: 18px;
}
.icon-local i {
    width: 55px;
    height: 55px;
    font-size: 18px;
}
.icon-weather i {
    width: 55px;
    height: 55px;
    font-size: 19px;
}
.icon-about i {
    width: 55px;
    height: 55px;
    font-size: 18px;
}
.icon-Quiz i {
    width: 55px;
    height: 55px;
    font-size: 18px;
}
.icon-finder i.fas.fa-map {
    width: 55px;
    height: 55px;
    font-size: 18px;
}
.icon-day i.fas.fa-calendar-week {
    width: 55px;
    height: 55px;
    font-size: 18px;
}
.icon-chat i.far.fa-comments {
    width: 55px;
    height: 55px;
    font-size: 18px;
}
.details h3 {
    font-size: 16px;
}
li.nav-item {
    flex: 0 1 0%;
}
ul.nav.nav-tabs.justify-content-center {
    display: flex;
    flex-wrap: wrap;
}
.nav-tabs>.nav-item>.nav-link {
    font-size: 11px !important;
    padding: 5px 10px !important;
}
.tab-pane p {
    font-size: 11px;
}
.carousel-wrap {
    margin: 40px auto;
}
.slider-main img {
    height: 225px;
}
.flickity-viewport {
    height: 170px !important;
}
.event-content {
    bottom: 60px !important;
    width: 80%;
    padding: 5px 15px;
}
.event-content p {
    font-size: 11px !important;
}
.local-content p {
    font-size: 11px;
    text-align: center;
}
.local-content {
    height: 45px;
}
.options {
    width: 100%;
    font-size: 11px;
    z-index: 1;
}

.downMenu-content {
    width: 85%;
    right: 9%;
}
.menuCol a {
    padding: 10px !important;
    font-size: 10px;
}
.menuCol {
    width: 50%;
}
.wall-content {
    padding: 4px;
}
.airport-details img {
    width: 120px;
    height: 120px;
}
h5.airport-text {
    font-size: 13px;
}
.hotel-bg {

    padding: 0px;
}
i.material-icons.nav__icon {
    font-size: 20px;
}
h3.fpr-detail {
    font-size: 16px;
    margin:0px;
}
#sidebar-btn {
    width: 20px;
    height: 15px;
    right: 6%;
    margin: 0;
    text-align: center;
}
button.edit-btn {
    padding: 10px 25px;
    font-size: 10px;
}
button.flickity-button.flickity-prev-next-button.previous {
    display: none;
}
button.flickity-button.flickity-prev-next-button.next {
    display: none;
}

#sidebar {
    width: 230px;
    right: -334px;
    top: 39px;
}
#sidebar ul li a {
    height: 63px;
    width: 184px;
        padding: 10px 60px;
}
.card-tabs {
    border: 1px solid #F07E29 !important;
}
#sidebar ul {
    padding: 10px 0px;
}
#sidebar ul li a .icon i {
    top: 30px;
}
#sidebar.visible {
    right: -39px;
}
#sidebar-btn i.fas.fa-ellipsis-v {
    font-size: 15px;
    margin-left: 10px;
}
.local-news h5 {
    font-size: 13px;
}
.local-news p {
    font-size: 11px;
}
.local-news img {
    width: 90%;
}
.btnApp a {
    margin-bottom: 15px !important;
}
.btnApp i {
    left: 53px;
}
.btnApp a {
    font-size: 16px;
}
section.wall {
    padding-bottom: 10px;
}



img#contact-img {
    width: 18px;
}
.btnApp img {
    width: 90%;
}
.contactUs a {
    font-size: 14px !important;
}
.download-app h3 {
    font-size: 16px !important;
    text-align: center;
    padding-top: 10px;
}
.contactUs {
    width: 100%;
    padding: 10px;
}
h3.contact-text {
    font-size: 16px !important;
    text-align: center;
    padding-top: 10px;
}
section.app-buttons {
    padding-bottom: 60px;
}
a#flight-card {
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px !important;
    font-size: 10px !important;
    box-shadow: 0px 6px 20px -5px #457cb25e;
    background-color: #fff;
}
a#travel-card {
    box-shadow: 0px 6px 20px -5px #457cb25e;
    background-color: #fff;
    padding: 10px !important;
    font-size: 10px !important;
}
.nav-tabs>.nav-item>.nav-link.active {
    box-shadow: 0px 6px 20px -5px #f07e296e !important;
}
a#check-card {
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px !important;
    font-size: 10px !important;
    box-shadow: 0px 6px 20px -5px #457cb25e;
    background-color: #fff;
}
.card-body {
    padding: 10px;
}
.vehicle-shape:before {
    left: -23px;
    bottom: -42px;
    top: 3px;
    width: 190px;
    height: 177px;
}
.user-details i.fas.fa-user {
    font-size: 17px;
    margin-right: 10px;
}
section.day-wise {
    padding: 50px 0px 80px 0px;
}
.fpr-icon i.fas.fa-phone-alt {
    font-size: 17px;
}
img#driver-img {
    width: 55%;
}
.vehicle-shape h3 {
    font-size: 12px;
}
.vehicle-shape img {
    width: 135px;
}
.vehicle-bg {
    display: none;
}
/*change password*/
div#hotelName {
    padding: 20px;
    border-radius: 10px;
}
i.fas.fa-lock {
    left: 5%;
    font-size: 14px;
}
.eye-icon i {
    left: 87%;
    font-size: 14px;
}
#button button {
    padding: 10px 50px;
    font-size: 15px;
}
label.label-pswd {
    font-size: 15px;
}
section.password-banner {
    padding: 50px 0px;
}
.password-banner h2 {
    font-size: 11px;
    line-height: 17px;
}
button.btnCkInOut {
    font-size: 15px;
}

/*quiz*/
section.quiz {
    padding: 20px 15px 100px 15px;
}
.up-image:before {
    top: -20px;
    left: -41%;
}
.down-image:after {
    bottom: -57px;
    right: 0%;
}
.banner-inner h2 {
    font-size: 11px;
    line-height: 15px;
}
section.banner-inner {
    padding: 50px 0px;
}

/*flight*/
.arrival-departure .nav-tabs>.nav-item>.nav-link {
    padding: 10px 37px !important;
}
.arrival-departure .nav-tabs>.nav-item>.nav-link.active {
    padding: 10px 37px;
    box-shadow: none !important;
}
.arrival-departure p {
    font-size: 11px;
    text-align: center;
}
.arrival-departure {
    padding-bottom: 50px;
}

.flight-arrival i {
    font-size: 12px;
}
.arrival input {
    padding: 20px 50px;
}
.arrival input::placeholder {
    font-size: 12px;
}
.departure input::placeholder {
    font-size: 12px;
}
.arrival input:focus {
    color: #fff !important;
}
.departure input:focus {
    color: #fff !important;
}
.departure input {
    padding: 20px 50px;
}
.faq-page h3 {
    font-size: 12px;
    margin-bottom: 0px;
}
section#faq {
    padding: 30px 0px 100px 0px;
}
.w3l-faq ul li i {
    right: 13px !important;
    top: 3px !important;
}



.text-content p {
    font-size: 12px;
}
.text-content {
    padding: 10px;
}


/*helpdesk*/
.content-box {
    padding: 20px;
}
.content-box p {
    font-size: 15px;
}
.heading-bg h4 {
    font-size: 16px;
}

.ministers-head h5 {
    font-size: 11px;
}
.ministers-head {
    height: 65px;
    padding: 5px;
}


/*footer*/
.footer-list ul li {
    font-size: 14px;
}
.footer-logo img {
    width: 50px;
}
span.nav__text {
    font-size: 15px;
}
i.material-icons.nav__icon {
    font-size: 16px;
}


.login-header {
    padding-bottom: 0px;
}
input#name {
    margin-bottom: 10px;
}
.card-primary.card-outline {
    border-radius: 15px;
}


}


@media only screen and (min-width : 414px) and (max-width : 896px) {

.nav-tabs>.nav-item>.nav-link {
    font-size: 13px !important;
    padding: 5px 28px !important;
}
#sidebar ul li a {
    height: 70px;
      width: 417px;
}
.carousel-cell {
    width: 76%;
    margin-right: 24px;
}
.user-details {
    margin-bottom: 20px;
}
p.event-text {
    font-size: 11px;
    margin-bottom: 0;
    font-weight: 700;
    line-height: 21px;
}
.event-content p {
    font-size: 11px !important;
}
.ministers-head {
    padding: 5px;
}
.ministers-head h5 {
    font-size: 9px;
}
a#check-card {
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px !important;
    font-size: 13px !important;
}
a#flight-card {
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px !important;
    font-size: 13px !important;
}
a#travel-card {
    box-shadow: 0px 6px 20px -5px #457cb25e;
    background-color: #fff;
   
     padding: 10px !important;
}
.card-header.nav-header {
    padding: .75rem 0.25rem;
}

.nav-tabs {
    border: 0;
    padding: 14px 0px;
    margin-top: -35px;
}
button.edit-btn {
    padding: 6px 25px;
}
.owl-nav .owl-prev, .owl-nav .owl-next {
    width: 45px;
    height: 45px;
}
.div_weather {
    height: 90vh;
}

button.flickity-button.flickity-prev-next-button.previous {
    display: none;
}
button.flickity-button.flickity-prev-next-button.next {
    display: none;
}
#sidebar {
    width: 230px;
    right: -334px;
    top: 39px;
}
#sidebar ul li a {
    height: 63px;
    width: 184px;
        padding: 10px 60px;
}
#sidebar ul li a .icon i {
    top: 30px;
}
#sidebar ul li a {
    padding: 10px 60px;
}
.local-news h5 {
    font-size: 16px;
}
.local-news p {
    font-size: 14px;
}
.local-news img {
    width: 90%;
}
.btnApp a {
    margin-bottom: 15px !important;
}
#sidebar-btn {
    margin: 6px;
}
.ministers-head h5 {
    font-size: 10px;
}
.ministers-head {
    height: 65px;
    padding: 5px;
}
.card-body {
    padding: 10px;
}
div#last-col {
    display: block;
}
.center-plane i.fas.fa-plane {
    position: absolute;
    top: 15%;
    left: 44%;
    color: #fff;
}
section.day-wise {
    padding: 50px 0px 80px 0px;
}

}



@media only screen and (min-width : 768px) and (max-width : 1024px) {
.desktop {
    display: block;
}
.mobile {
    display: none;
}
.event-content {
    width: 100%;
}
.hotel-bg {
    width: 100%;
}

#sidebar {
    width: 230px;
        top: -11px;
}
#sidebar.visible {
    right: -29px;
}
div#last-col {
 display: none;
}
.vehicle-shape h3 {
    font-size: 16px;
}
.logged-user h5 {
    margin-right: 48px !important;
}
.local-content p {
    font-size: 11px;
}
.ministers-head h5 {
    font-size: 15px;
}
p.event-text {
    font-size: 17px;
}
.vehicle-shape:before {
    left: -10px;
}
.transport-icon i.fas.fa-phone-alt {
    padding: 15px;
    font-size: 17px;
}
img#driver-img {
    width: 40%;
}
.btnApp img {
    width: 50%;
}
.contactUs {
    width: 53%;
    padding: 10px;
}
.download-help-btn h3 {
    font-size: 20px !important;
}
.icon-local i {
    width: 80px;
    height: 80px;
    font-size: 30px;
}
.icon-Quiz i {
    width: 80px;
    height: 80px;
    font-size: 30px;
}
.icon-weather i {
    width: 80px;
    height: 80px;
    font-size: 30px;
}
.icon-about i {
    width: 80px;
    height: 80px;
    font-size: 30px;
}
.icon-news i {
    width: 80px;
    height: 80px;
    font-size: 30px;
}
.icon-finder i.fas.fa-map {
    width: 80px;
    height: 80px;
    font-size: 30px;
}
.icon-day i.fas.fa-calendar-week {
    width: 80px;
    height: 80px;
    font-size: 30px;
}
.icon-chat i.far.fa-comments {
    width: 80px;
    height: 80px;
    font-size: 30px;
}
.nav-tabs>.nav-item>.nav-link i {
    font-size: 20px;
}
a#check-card {
    padding: 10px 50px!important;
    text-align: center;
    font-size: 18px !important;
}
a#flight-card {
    padding: 10px 50px !important;
    text-align: center;
    font-size: 18px !important;
}
a#travel-card {
    padding: 10px 50px !important;
    text-align: center;
    font-size: 18px !important;
}
}
